package router

import (
	"github.com/gofiber/fiber/v2"
	"{{$.moduleName}}/web"
)

func initAuth(app *fiber.App) {
	app.Post("/register", web.Register)
	app.Post("/login", web.Login)
	app.Post("/refresh-access-token", web.RefreshAccessToken)
	app.Post("/captcha", web.Captcha)
	app.Post("/check-captcha", web.CheckCaptcha)
}
